/* first for IE 4-8 */
@font-face {
  font-family: DINWebPro;
  src: url("fonts/DINWebPro.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: DINWebPro;
  src: local("?"), url("fonts/DINWebPro.woff") format("woff");
}



@font-face {
  font-family: DINWebPro-Medium;
  src: url("fonts/DINWebPro-Medium.eot");
}

/* then for WOFF-capable browsers */
@font-face {    
  font-family: DINWebPro-Medium;
  src: local("?"), url("fonts/DINWebPro-Medium.woff") format("woff");
}


@font-face {
  font-family: DINWebPro-Bold;
  src: url("fonts/DINWebPro-Bold.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: DINWebPro-Bold;
  src: local("?"), url("fonts/DINWebPro-Bold.woff") format("woff");
}

html, body{
    font-size:15px;
    height:100%;
    color:#4d4d4d;
    margin:0px;
    font-family:DINWebPro, times,tahoma, arial;
    overflow:hidden;
    background-color: #fafafa;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: url('../images/background.png');
    min-width: 1000px;
}


div#container {
	text-align: center;
	width: 1600;
	
	margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: center;
}

div#innerContainer {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 850px;
	height:600px;
	z-index: 1;
	font-size: 100%;
}

div#fullLink {
	position: absolute;
	top: 60px;
	right: 30px;
	padding: 10px;
	font-weight: bold;
	color: #ad0000;
}

div#nav {
	position: absolute;
	top: 100px;
	left: 10px;
	width: 150px;
	font-family: 'Rokkitt', serif;
	font-size: 110%;
	padding:  8px 8px 8px 3px;

	z-index: 1000;
	border: 1px solid #adadad;
	background-color: white;
}


div#nav a, div#nav a#visited{
	text-decoration: none;
	color: #ad0000;
	text-transform: lowercase;
	font-size: 120%;
	display: block;
}


div#content {
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 400px;
	padding: 0px;
}

div#content div {
	width: 602px;
	height: 378px;
	border: 1px solid #adadad;
	padding: 15px;
	text-align: left;
	overflow-y: auto; 
	background-color: white;
	position: absolute;
	top: 100px;
	left: 185px;
}

div#content div h1 {
	font-family: 'Rokkitt', serif;
	font-weight: 400; 
	letter-spacing: -0.03em;
	padding: 0px;
	margin: 0px;
	text-align: right;
	text-transform: lowercase;
	color: #ad0000;
}

div#content div strong {
	color: #ad0000;
}

img#logo {	
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

div#footer {
	font-size: 80%;
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 1;
}


